.dati {
  font-family: Georgia, serif;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  margin-right: 10px;
  margin-top: 12px;

}

#new {
  margin-left: 20px;
  margin-top: 25px;
  margin-right: 75%;
  margin-bottom: 15px;
}

a {
  margin-bottom: 2px;
  text-decoration: underline solid;
  color: #3762bc;
}

#title {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 39px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  color: darkgray;

}

h3 {
  text-align: center;
}

