<mat-accordion>
  <div id="head">
    <button mat-raised-button id="back" color="primary" (click)="goBack()">Indietro</button>
    <p id="title">Nuovo Docente</p>
  </div>
  <form (ngSubmit)="onSubmit()" #newdocForm="ngForm">
    <mat-form-field class="form" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" id="nome" name="nome" [(ngModel)]="doc.nome" #nome="ngModel" required>
      <mat-error *ngIf="nome.invalid">Campo obbligatorio</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form" appearance="outline">
      <mat-label>Cognome</mat-label>
      <input matInput placeholder="Cognome" id="cognome" [(ngModel)]="doc.cognome" name="cognome" required #cognome="ngModel">
      <mat-error *ngIf="cognome.invalid">Campo obbligatorio</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="" id="email" [(ngModel)]="doc.email" name="email" required #email="ngModel">
      <mat-error *ngIf="email.invalid">Campo obbligatorio</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="" id="password" [(ngModel)]="doc.password" name="password" required #password="ngModel">
      <mat-error *ngIf="password.invalid">Campo obbligatorio</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form" appearance="outline">
      <mat-label>Data di nascita</mat-label>
      <input matInput placeholder="" id="data" name="data" [(ngModel)]="doc.dataDiNascita" #data="ngModel" required>
      <mat-error *ngIf="data.invalid">Campo obbligatorio</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form" appearance="outline">
      <mat-label>Indirizzo</mat-label>
      <input matInput placeholder=""  id="indirizzo" name="indirizzo" [(ngModel)]="doc.indirizzo" #indirizzo="ngModel" required>
      <mat-error *ngIf="data.invalid">Campo obbligatorio</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form" appearance="outline">
      <mat-label>Telefono</mat-label>
      <input matInput placeholder=""  id="telefono" name="telefono" [(ngModel)]="doc.telefono" #telefono="ngModel" required>
      <mat-error *ngIf="telefono.invalid">Campo obbligatorio</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button id="sub" color="accent" type="submit" [disabled]="!newdocForm.form.valid">Invio</button>

  </form>
  <br>
</mat-accordion>
