.form {
  margin-left: 50px;
  margin-top: 3%;
}

#back {
  margin-left: 90%;
  margin-bottom: 0px;
  margin-top: 38px;
}

#title {
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  margin-left: 50px;
  margin-top: -4%;
}

mat-form-field#seg {
  width: 60%;

}

.int {
  font-family: Georgia, serif;
  font-size: 12px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  margin-top: 10px;


}

.dati {
  font-family: Georgia, serif;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  margin-right: 10px;
  margin-top: 10px;

}

#sub {
  margin-left: 50px;
  margin-top: 3%;

}

mat-expansion-panel {
  width: 95%;
  margin-left: 20px;
  margin-bottom: 20px;
}

mat-list-item#item {
  margin-top: 180px;
}
