<!--
<button (click)="newSegnalazione()">Nuova Segnalazione</button>
-->

<div>
  <button id="new" mat-raised-button color="primary" (click)="newSegnalazione()">Nuova Segnalazione</button>
  <button id="back" mat-raised-button color="primary" (click)="goBack()">Indietro</button>
</div>
<br>


<!--<div name="lista">
  <ul class="seg">
    <li *ngFor="let seg of segnalazioni">
      <a [routerLink]="['/segnaladoc/segn', seg.idSegnalazione]">
        Data: <span class="badge">{{seg.data}}</span>
        Testo: <span class="badge">{{seg.testo}}</span>
        Stato:  <span class="badge">{{seg.stato}}</span>
      </a>
    </li>
  </ul>
</div>-->
<h3 id="title">Le mie segnalazioni</h3>
<mat-accordion>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="toogle" (change)="filt()">
    <mat-button-toggle value="Tutte">Tutte</mat-button-toggle>
    <mat-button-toggle value="Aperto">Aperto</mat-button-toggle>
    <mat-button-toggle value="Presa in carico">Presa in carico</mat-button-toggle>
    <mat-button-toggle value="In lavorazione">In lavorazione</mat-button-toggle>
    <mat-button-toggle value="Risolta">Risolta</mat-button-toggle>
    <mat-button-toggle value="Rifiutata">Rifiutata</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-nav-list>
    <mat-list-item *ngFor="let seg of segnalazioni">
      <p class="dati">{{seg.data}}</p> <p class="int"> Aula: </p><p class="dati"> {{seg.nomeAula}}</p><p class="int"> Titolo: </p><p class="dati"> {{seg.titolo}}</p> <p class="int"> Stato:</p><p class="dati"> {{seg.stato}}</p>
      <button class="btn" color="primary" [routerLink]="['/segnaladoc/segn', seg.idSegnalazione]"><i class="fas fa-arrow-circle-right"></i></button>
    </mat-list-item>
  </mat-nav-list>
</mat-accordion>

<br>
<!--
<button (click)="goBack()">Indietro</button>
-->
