
<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side">
   <!-- <button mat-button (click)="sidenav.toggle()">Toggle</button>-->
    <!--<button class="btn" (click)="sidenav.toggle()"><i class="fa fa-bars" ></i> Menu</button>-->
    <app-side-nav-seg [id]="idSegr"></app-side-nav-seg>
  </mat-sidenav>

  <mat-sidenav-content>
    <button class="btn" (click)="sidenav.toggle()"><i class="fa fa-bars" ></i> Menu</button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>





