<mat-accordion>
  <div id="head">
    <button mat-raised-button id="back" color="primary" (click)="goBack()">Indietro</button>
    <p id="title">Nuovo Calendario</p>
  </div>

  <form (ngSubmit)="onSubmit()" #calendarioForm="ngForm">
    <mat-form-field class="form" appearance="outline">
      <mat-label>Tipo</mat-label>
      <mat-select placeholder="" [(ngModel)]="cal.tipo" name="tipo" #tipo="ngModel" required>
        <mat-option value="Lezione">Lezione</mat-option>
        <mat-option value="Esame">Esame</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="form" appearance="outline">
      <mat-label>Anno</mat-label>
      <input matInput placeholder="Anno(tipo:0000/0000)" [(ngModel)]="cal.anno" name="anno" required #anno="ngModel" pattern="[0-9]{4}/[0-9]{4}">
      <mat-error *ngIf="anno.invalid">Campo invalido (ex. 2016/2017)</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form" appearance="outline">
      <mat-label>Data Inizio</mat-label>
      <input matInput placeholder="" type="date" class="form-control" id="data_i" [(ngModel)]="cal.dataInizio" name="data_i" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
             required #data_i="ngModel">
      <mat-error *ngIf="data_i.invalid">Campo obbligatorio</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form" appearance="outline">
      <mat-label>Data Fine</mat-label>
      <input matInput placeholder="" type="date" id="data_f" [(ngModel)]="cal.dataFine" name="data_f" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required #data_f="ngModel">
      <mat-error *ngIf="data_f.invalid">Campo obbligatorio</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form" appearance="outline">
      <mat-label>Semestre</mat-label>
      <mat-select placeholder="" id="semestre" name="semestre" [(ngModel)]="cal.semestre" #semestre="ngModel" required>
        <mat-option value="Primo">Primo</mat-option>
        <mat-option value="Secondo">Secondo</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="form" id="corso" appearance="outline">
      <mat-label>Corso di Studio</mat-label>
      <mat-select placeholder="" id="inseg" name="inseg" [(ngModel)]="cal.idCds" #nomeCds="ngModel" required>
        <mat-option *ngFor="let course of corsi" [value]="course.idcorsoDiStudio">{{course.nome}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button id="sub" color="accent" type="submit" [disabled]="!calendarioForm.form.valid">Invio</button>

  </form>
  <br>

</mat-accordion>
