<div *ngIf="user">

  <h2>{{user.nome | uppercase}} Details</h2>
  <div><span>id: </span>{{user.nome}}</div>
</div>
<h2>Home </h2>
<ul>
  <li>
    <nav>
      <a routerLink="/calendario">Calendario</a>
    </nav>

  </li>
  <li>
    <nav>
      <a routerLink="/rooms">Aula</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/corsodistudio">Corso Di Studio</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/inseg">Insegnamenti</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/doc">Docenti</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/seg">Segnalazioni</a>
    </nav>
  </li>
</ul>
