

<div class="buttons">
  <button id="new" mat-raised-button color="primary" (click)="newAula()">Nuova Aula</button>

  <button id="new2" mat-raised-button color="primary" (click)="newTool()">Nuovo Tool</button>

  <button id="back" mat-raised-button color="primary" (click)="goBack()">Indietro</button>
</div>


<!--
<button (click)="newAula()">Nuova Aula</button>
-->
<app-aula-search></app-aula-search>

<app-aula-list></app-aula-list>
<app-tool-list></app-tool-list>

<!--
<button (click)="goBack()">Indietro</button>
-->


