#new {
  margin-right: 10px;
}

/*#back {
  margin-left: 90%;
  margin-bottom: 28px;
}*/

#new2 {
  margin-right: 10px;
}



.buttons {
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
}


